# Ignore node_modules and any build directories
node_modules
dist
.build
.cache

# Ignore log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore environment and config files (if you don’t want them in the image)
.env
.env.*.local

# Ignore local development files
.vscode
.idea
.DS_Store

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore test-related files
*.spec.ts
*.test.ts
coverage
